
@import url('https://fonts.gogleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat' , sans-serif;
    overflow-x: hidden;

}

/*Menu*/
#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color:#3f3f3f;

}

#menu form > button {
font-size: 18px;
font-weight: bold;

}

/*Slider de imagenes*/

.carousel-inner {
    max-height: 39rem;
}


/*Media Queries Pantalla Ancha*/

@media (max-width: 1200px) {

    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

/*Media Queries Pantalla SM */

@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
        display: block;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    
    
    #bg-contactos{
        top: -120px;
    }
}

/*Media Queries Pantalla Extra-SM*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}


/* Contactos Background */
#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/* Contacto Formulario */

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}
 /*Footer*/
 footer {
    background: #1b2a4e;
    min-height: 100px;
  
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

.text-primary.fs-4.fw-bold,
.text-primary.fs-3.fw-bold,
.text-primary.fs-2.fw-bold,
.text-primary.fs-1.fw-bold {
    font-family: 'Bangers', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Marhey', cursive;




}
.text-primary.fs-6.fw-bold,
.text-primary.fs-5.fw-bold
 {
    font-family: 'Bangers', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Marhey', cursive;
}


.pizzas.f2-4.text-center,
.burguer.f2-4.text-center {
    font-family: 'Bangers', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Marhey', cursive;
    color: rgb(51, 17, 51);

}

/*.logo {

    width: 5rem;
    margin-top: 0rem;
    border-radius: 2rem;
    margin: 25px auto;
  border: 1px solid #ccc;
 
  box-shadow: 7px 7px 15px #592A08; 
  padding: 0rem;
    
    

   
}*/
.collapse.navbar-collapse {



margin-top: 0rem;
margin-left: 10rem;

}

